.contact{
    height: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1{
            font-size: 65px;
            line-height: 60px;
        }
        span{
            font-weight: 300;
        }
    }
    .formContainer{
        flex: 1;
        position: relative;

        .phoneSvg{
            stroke: rgb(255, 174, 0);
            position: absolute;
            margin: auto;
            z-index: -1;

        }
        


        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            
            input,textarea{
                padding: 15px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                
            }

            button{
                padding: 15px;
                border: none;
                background-color: orange;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 500;

            }
        }

       
    }
}