.navbar{
    height: 100px;

    .wrapper{
        max-width: 2500px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    span{
        font-weight: bold;
    }
    
    .social{
        display: flex;
        gap: 20px;
    }

    img{
        width: 18;
        height: 18px;
    }

}